[phases.setup]
nixPkgs = ["python310", "pkg-config", "gcc", "ffmpeg"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[start]
cmd = "gunicorn app:app --timeout 200 --workers 1 --threads 2 --preload"
