# requirements.txt
flask>=2.1
flask-cors
requests
pillow
numpy
opencv-python-headless
gunicorn
torch==2.0.1+cpu
torchvision==0.15.2+cpu
# The extra index url below will be used by pip when installing wheels:
--extra-index-url https://download.pytorch.org/whl/cpu
















